{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 2{% endblock %}

{% block body %}
    <div class="wrapper-form">
        <main class="container mt-5 mb-4">
            <h1 class="text-center">Mot de passe oublié - Etape 2</h1>
            {{ form_start(forgotPasswordFormStep2) }}
            <div class="row mt-5">
                <div class="col-md-6 mb-4">
                    {{ form_row(forgotPasswordFormStep2.password.first) }}
                </div>
                <div class="col-md-6 mb-4">
                    {{ form_row(forgotPasswordFormStep2.password.second) }}
                </div>
            </div>
            <div class="mt-4 mb-4">
                <button type="submit" class="btn btn-primary d-block mx-auto" title="Saisissez deux fois votre mot de passe">
                    Valider
                </button>
            </div>
            {{ form_end(forgotPasswordFormStep2) }}
        </main>
    </div>
{% endblock %}