
@import "~bootstrap";

#video-fields-list li {
  list-style-type: none;
}
#video-fields-list {
  padding-left: 0rem;
}
#video-fields-list button {
  margin-left: 1rem;
  background: none;
  border: none;
  color: #89acaa;
}
#video-fields-list li > div {
  display: flex;
  margin-bottom: 0.5rem;
}