<a href= "{{ path('message_delete',{'slug': trick.slug|slug, id: message.id, _csrf_token: csrf_token('delete-message')}) }}"
   onclick="return confirm('Etes vous sure?')"
   class="btn btn-danger">Supprimer le commentaire
</a>
