{% for message in messages %}
<div class="chat-message-right pb-4">
    <div>
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
        <div class="text-muted small text-nowrap mt-2">{{ message.content }}
        </div>        {# <div class="text-muted small text-nowrap mt-2">{{ message.0.createdAt|date ('m-d-Y H:i:s') }}
        </div>#}
    </div>
</div>
{% endfor %}