    {{ form_row(form.name) }}
    <span>
         <div class="form-group mt-2 mb-4" style="text-align: center">
        <button type="button" class="btn btn-danger btn-remove">Effacer</button>
    </div>
    </span>

